*.DS_Store
./bin/*
classpath/*
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.jar

# Locally stored "Eclipse launch configurations"
*.launch

# PDT-specific
.buildpath

*.DS_Store